<!DOCTYPE html>
<html>
<head>
  <title>Solid apm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "solid_apm/application", media: "all" %>
  <script type="module" src="https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
</head>

<body style="overflow: scroll">
  <section class="section">
    <%= yield %>
  </section>
</body>

</html>
