<!DOCTYPE html>
<html>
<head>
  <title>Solid apm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "solid_apm/application", media: "all" %>
  <script type="module" src="https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>

<%= yield %>

</body>
</html>
