<h1 class="title">Transactions</h1>

<h2 class="title is-4 has-text-grey">Last hour</h2>
<div data-controller="transaction-chart"></div>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latency</th>
      <th>tmp</th>
      <th>Impact</th>
    </tr>
  </thead>

  <% @aggregated_transactions.each do |name, aggregation| %>
    <tr>
      <td><%= link_to name, transaction_by_name_path(name) %></td>
      <td><%= aggregation.latency.round(2) %> ms</td>
      <td><%= aggregation.tmp.round(2) %></td>
      <td><%= aggregation.impact %></td>
    </tr>
  <% end %>
</table>
